[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf;
Actions=ConvertToMarkdown;SolveAssignments;
X-KDE-Priority=TopLevel
X-KDE-Submenu=KMarkdownify
X-KDE-Icon=document-edit

[Desktop Action ConvertToMarkdown]
Name=Convert to Markdown
Icon=text-markdown
Exec=/usr/local/bin/kmarkdownify %f

[Desktop Action SolveAssignments]
Name=Solve Assignments
Icon=tools-wizard
Exec=/usr/local/bin/kmarkdownify --solve %f
